.digencial__wwd {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: #070707;
    padding-top: 2rem;
    gap: 112px;
}
.digencial__wwd-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.digencial__wwd-heading p {
    height: 168px;
    width: 538px;

    letter-spacing: 0.04em;

    color: #ffffff;
}
.digencial__wwd-heading h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    line-height: 84px;
}
.digencial__wwd-heading img {
    width: 630px;
    height: 160px;
}
.digencial__wwd-content {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.digencial__wwd-content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.digencial__wwd-content h3 {
    height: 84px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    line-height: 84px;

    letter-spacing: 0.04em;
    /* -webkit-text-stroke: 1px #AAAAAA; */
    text-shadow: -1px 1px 0 #aaaaaa, 1px 1px 0 #aaaaaa, 1px -1px 0 #aaaaaa,
        -1px -1px 0 #aaaaaa;
}

.digencial__wwd-content p {
    /* height: 224px; */
    width: 324px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    /* or 117% */

    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
}
.digencial__wwd-content span {
    font-weight: 800;
}
.digencial__wwd-content img {
    height: 60px;
    width: 60px;
}
@media screen and (max-width: 1180px) {
    .digencial__wwd-heading img {
        width: 430px;
        height: 100px;
    }
}
@media screen and (max-width: 890px) {
    .digencial__wwd {
        gap: 0;
    }
    .digencial__wwd-heading p {
        height: 64px;
        width: 193px;
    }
    .digencial__wwd-heading {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .digencial__wwd-heading h2 {
        font-size: 28px;
        line-height: 32px;
        width: 193px;
    }
    .digencial__wwd-heading div {
        width: 193px;
    }
    .digencial__wwd-heading img {
        margin-top: 16px;
        width: 158px;
        height: 40px;
    }
    .digencial__wwd-content div {
        flex-direction: column;
    }
    .digencial__wwd-content div h3{
        width: 11px;
        height: 32px;
        font-size: 28px;
        line-height: 32px;
    }.digencial__wwd-content div p{
        width: 280px;
        height: 160px;
        font-size: 16px;
        line-height: 20px;
    }.digencial__wwd-content div img{
        width: 24px;
        height: 24px;
        
    }
}
