.digencial__carousel {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 120px;  
    z-index: 1;
    background: #070707;
    overflow: hidden;
}
.digencial__carousel ul {
    /* width: max-content; */
    /* overflow: hidden; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: slide-in 10s linear infinite normal;
    /* animation-delay: 5s; */
}
.digencial__carousel li {
    list-style: none;
    height: 84px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    white-space: nowrap;
    justify-content: center;
    align-items: center;


}

.digencial__carousel img {
    height: 40px;
    width: 40px;
    margin-left: 4rem;
}
.digencial__carousel p {
    margin-left: 4rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    line-height: 84px;
    height: 84px;
    z-index: 1;


    background: linear-gradient(91.42deg, #909AFF 0.34%, #FF94FB 99.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slide-in {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-68.3%,0);
    }
}
@media screen and (max-width: 1050px) {
    .digencial__carousel p {
        font-size: 60px;
        line-height: 64px;
        height: 64px;
    }
}
@media screen and (max-width: 890px) {
    .digencial__carousel p{
        font-size: 20px;
        /* line-height: 24px; */
    }
}
@media screen and (max-width: 890px) {
    .digencial__carousel li {
        width: fit-content;
    }
 }