.digencial__letsDiscuss {
    background: #ff8a00;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 80px 80px 0px 0px;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.digencial__letsDiscuss-content {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}
.digencial__letsDiscuss-content_heading {
    display: flex;
    flex-direction: column;
}
.digencial__letsDiscuss-content_heading img {
    width: 122px;
    height: 110px;
    align-self: flex-end;
    position: relative;
    top: 40px;
    left: -40px;
}
.digencial__letsDiscuss-content_heading h2 {
    height: 168px;
    right: 625px;
    top: 4969px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    line-height: 84px;
    /* or 105% */

    letter-spacing: 0.04em;

    color: #ffffff;
}
.digencial__letsDiscuss-content_links {
    padding-top: 5.3125rem;
    padding-bottom: 10.9375rem;
}
.digencial__letsDiscuss-content_links p:nth-last-child(1) {
    height: 24px;
    padding: 8px 0 0 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    color: #ffffff;
}
.digencial__letsDiscuss-image img {
    height: 270.05px;
    width: 366.7px;

    position: relative;
    top: calc(100% - 270px - 80px);
    /* left: 100px;    */
}
.digencial__letsDiscuss-forwardLink {
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    cursor: pointer;
}
.digencial__letsDiscuss button {
    cursor: pointer;
}

@media screen and (max-width: 1210px) {
    .digencial__letsDiscuss-content_heading h2 {
        font-size: 70px;
        line-height: 78px;
        height: 250px;
    }
}
@media screen and (max-width: 990px) {
    .digencial__letsDiscuss-image img {
        height: 150px;
        width: 200px;
    }
    .digencial__letsDiscuss-content_heading h2 {
        font-size: 48px;
        line-height: 40px;
        height: 100px;
        width: 316px;
    }
    .digencial__letsDiscuss-forwardLink img {
        height: 80px;
    }
}
@media screen and (max-width: 890px) {
    .digencial__letsDiscuss {
        /* display: flex; */
        width: 281px;
        height: 205.75px;
        margin: auto;
        margin-top: 25.25px;
        justify-content: space-between;
        border-radius: 20px 20px 0px 0px;
    }
    .digencial__letsDiscuss-content {
        padding: 0 0 0 25px;
        height: 100px;
    }
    .digencial__letsDiscuss-content_heading h2 {
        width: 201px;
        height: 64px;
        font-size: 28px;
        line-height: 32px;
    }
    .digencial__letsDiscuss-content_heading img {
        height: 27.5px;
        width: 30.5px;
        left: -20px;
        top: 5px;
    }
    .digencial__letsDiscuss-image {
        display: none;
    }
    .digencial__letsDiscuss-forwardLink {
        transform: translate(-35%, -5%);
        height: 40px;
        justify-content: flex-end;
    }
    .digencial__letsDiscuss-forwardLink img {
        width: 40px;
        height: 40px;
    }
    .digencial__letsDiscuss-content_links {
        height: 100px;
        padding: 0;
    }
    .digencial__letsDiscuss-content_links p {
        font-size: 24px;
    }
    .digencial__letsDiscuss-content_links p:nth-last-child(1) {
        font-size: 12px;
        text-align: center;
    }
}
