@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

:root {
  --font-family: 'Clash Display', sans-serif;
  --font-family-logo: 'Lato', sans-serif;
  --bg-color: #4353FF;
}