.digencial__header {
    /* display: flex; */
    margin-top: 3rem;
}
.digencial__header-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.digencial__header-content_heading {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.digencial__header-content_heading h2 {
    height: 144px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 130px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.digencial__header-content_heading p {
    height: 98px;
    width: 25rem;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
}
.digencial__header-content_desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* padding-left: 20px; */
}
.digencial__header-content_desc p {

    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: white;
    /* or 160% */

    text-align: justify;
}
.digencial__header-content_desc-tags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
/* .tag {
    width: 100px;
    background-color: white;
} */

.digencial__header-content_desc-tags button {

}
.digencial__header-imageContainer{
    margin-top: 10rem;
}
.digencial__header-imageContainer_image {
    height: 798px;
}